@model LGroup.MVC.Presentation.ViewModel.AmigoViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div>
            <div>
                @Html.LabelFor(x => x.Nome)
                @Html.TextBoxFor(x => x.Nome)
            </div>
            <div>
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email)
            </div>
            <div>
                @Html.LabelFor(x => x.Telefone)
                @Html.TextBoxFor(x => x.Telefone)
            </div>
            <div>
                <input type="submit" name="salvar" id="salvar" value="Salvar" />
            </div>
        </div>
    }
</body>
</html>
